.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4%;
}

.card h2 {
  font-size: 1.5em;
}

.card button {
  color: #7a2e2e;
  background-color: #baa948;
  padding: 5%;
  font-size: 1em;
  border: none;
}
